body {
	padding: 0;
	margin: 0;
	height: 100%;
}

html {
	height: 100%;
}

.heading-image {
	display: inline-block;
	width: 45%;
	height: 100%;
	background-image: url('summer-wp.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;

}
.heading-text {
	position: absolute;
	width: 45%;
	color: white;
	font-family: 'futura', sans-serif;
	font-size: 48px;
	text-align: center;
	top: 35%;
	overflow: hidden;
	z-index: 3;
}

.heading-desc {
	position: absolute;
	width: 45%;
	text-align: center;
	top: 50%;
	font-family: 'futura', sans-serif;
	color: white;
	z-index: 3;
}

.heading-time {
	position: absolute;
	font-size: 24px;
	width: 45%;
	text-align: center;
	top: 60%;
	font-family: 'futura', sans-serif;
	color: white;
	z-index: 3;
}

.cool-separator {
	position: absolute;
	background-color: white;
	margin: 0 auto;
	top: 70%;
	left: 5%;
	width: 35%;
	height: 3px;
	z-index: 3;
}

.offering-text {
	position: absolute;
	font-size: 16px;
	width: 45%;
	text-align: center;
	top: 70%;
	font-family: 'futura', sans-serif;
	color: white;
	z-index: 3;
}

.layer {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 45%;
    height: 100%;
    z-index: 2;
}

.text-stuff {
	display: inline-block;
	width: 10%;
	height: 100%;
}
.text-info {
	display: inline-block;
	width: 44%;
	height: 100%;
}

@media screen and (max-width: 1240px){

	.heading-text {
		margin-top: -5%;
	}

}

@media screen and (max-width: 1062px){

	.heading-text {
		top: 30%;
	}
}

@media screen and (max-width: 655px){

	.heading-text {
		top: 10%;
	}
}

@media screen and (max-width: 573px){

	.offering-text {
		margin-top: 10%;
	}
	.cool-separator {
		margin-top: 8%;
	}
}

@media screen and (max-width: 450px){

	.heading-text {
		font-size: 44px;
	}
}

@media screen and (max-width: 431px){
	.heading-time {
		margin-top: 5%;
	}
	.cool-separator {
		margin-top: 13%;
	}

}